div {
  text-align: center;
  margin-top: 20px;
}

#message-a {
  font-size: 30px;
  
}

#message-b {
  font-size: 24px;

}


table {
  border-collapse: collapse;
  margin: 0 auto;

}


td {
  width: 100px;
  height: 100px;
  background: #ddd;
  border: solid 2px #000;
  
  
}

.td-win {
  background: #ffff99;
}

.td-notclickable {
  pointer-events: none;
}

.round {
  font-size: 70px;
  color: #ff0000;
  text-align: center;
  line-height: 100px;

}

.cross {
  font-size: 70px;
  color: #0000ff;
  text-align: center;
  line-height: 100px;

}

.btn-container {
  padding-top: 20px;
}

.btn {
  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reset {
  color: #fff;
  background-color: #ffc000;
  font-weight: bold;
}

.btn-reset:hover {
  background-color: #ffd347;
  transition-duration: 0.4s;
}